/* CSS Reset */

*{
    margin: 0;
    padding: 0;
    font-family: 'Baloo Tamma 2', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    box-sizing: border-box;
}

/* Navigation Bar */
#navbar{
    background-color: rgb(0 27 71);
}

#navbar h2{
    color: rgb(180, 212, 238);
    font-weight: bolder;
    cursor: pointer;
    transform: scale(.98);
    padding-top: .2em;
}

#navbar h2:hover{
    transform: scale(1.1);
}

#navbar a{
    color: rgb(180, 212, 238);
}

#navbar nav a{
    font-size: 1.35rem;
    padding: .6em .5em;
}

#navbar a:hover{
    text-decoration: none;
    color: white;
}

/* About */

/* Skills */
#skills img{
    width: 30px;
    height: 30px;
}

#skills .col{
    padding: .8em;
    transform: scale(.99);
    transition: ease-in-out 0.3s;
}

#skills .col:hover{
    background-color: rgba(0, 0, 0, 0.02);
    transform: scale(1);
    cursor: pointer;
}

#skills h3{
    padding-left: 6px;
}

/* Projects */
#projects .card{
    transform: scale(.96);
    transition: ease-in-out .6s;
}

#projects .card:hover{
    transform: scale(1);
}

#projects a{
    text-decoration: none;
}
/* Contact Section */
#contact{
    background-color: #000;
    display: flex;
    align-items: baseline;
    font-size: 1.8rem;
}

#contact a{
    color: #525252;
    padding-right: 1rem;
    padding: 1rem;
}

#contact a:hover{
    color: white;
    transform: scale(1.2);
}

#uparrow{
    font-size: 2.4rem;
    transform: scale(.97);
}

a#uparrow{
    padding: 1rem 0rem;
    transform: scale(.99);
    transition: ease-in-out .6s;
}

#uparrow:hover{
    transform: scale(1.1);
}

footer{
    transform: scale(1) !important;
}

/* Utility Classes */
.heading{
    display: inline-block;
    border-bottom: 4px solid skyblue;
    font-size: 40px;
}

.container-fluid{
    transform: scale(.99);
    transition: ease-in-out 1s;
}

.container-fluid:hover{
    transform: scale(1.01);
}

/* Media Query */
@media screen and (max-width: 422px){
    #navbar nav a{
        font-size: 1.05rem;
        padding: .3em .2em;
    }
}